@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Matemasie&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.style-one {
  font-size: 40px;
  font-weight: normal;
  color: green;
  background-color: pink;
  text-decoration: none;
  text-transform: none;
  font-family: "Matemasie", serif;
}

.style-two {
  font-size: 36px;
  font-weight: bold;
  color: rgb(6, 230, 208);
  background-color: goldenrod;
  text-decoration: none;
  text-transform: none;
  font-family: "Baskervville SC", serif;
}

.style-three {
  font-size: 75px;
  font-weight: normal;
  color: black;
  background-color: aquamarine;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Sixtyfour Convergence", serif;
}

.style-four {
  font-size: 60px;
  font-weight: normal;
  color: rgb(237, 5, 44);
  background-color: rgb(3, 55, 5);
  text-decoration: none;
  text-transform: uppercase;
  font-family: Impact, sans-serif;
}

.style-five {
  font-size: 80px;
  font-weight: 400;
  color: maroon;
  background-color: rgb(15, 38, 50);
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
}

.style-six {
  font-size: 60px;
  font-weight: 700;
  color: rgb(190, 230, 10);
  background-color: darkcyan;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Raleway Dots", sans-serif;
}

.style-seven {
  font-size: 15px;
  font-weight: bold;
  color: rgb(85, 150, 140);
  background-color: rgb(16, 1, 16);
  text-decoration: none;
  text-transform: lowercase;
  font-family: Georgia, serif;
}

.style-eight {
  font-size: 45px;
  font-weight: 100;
  color: rgb(250, 10, 220);
  background-color: rgb(6, 255, 31);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
}

.style-nine {
  font-size: 90px;
  font-weight: 700;
  color: rgb(38, 7, 240);
  background-color: rgb(238, 99, 19);
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: Tahoma, sans-serif;
}

.style-ten {
  font-size: 75px;
  font-weight: 100;
  color: hsl(306, 75%, 45%);
  background-color: navy;
  text-decoration: none;
  text-transform: none;
  font-family: monospace;
}
